<div class="row bg cream p-xs-t-6 p-xs-b-1">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 lead">
        <span class="sans"><strong>Ask Holly How</strong></span><span id="ahh-mdash">&nbsp;&nbsp;&mdash;&mdash;&mdash;&nbsp;&nbsp;</span>
        to
        <span id="action-msg">grow your business</span>
        <!-- <span class="action-msg" id="msg-1">grow your business</span>
        <span class="action-msg" id="msg-2">write a business plan</span>
        <span class="action-msg" id="msg-3">change office culture</span> -->
      </div>
    </div>

    <div class="row m-xs-t-2">
      <div class="col-xs-12 col-md-4">
        <p>
        <a href="mailto:hhoward@askhollyhow.com" target="_blank">hhoward@askhollyhow.com</a>
        <br/> New York City
        </p>
      </div>
    <div class="col-xs-12 col-md-3">
      <p>
      <a href="http://twitter.com/askhollyhow" target="_blank">Twitter</a><br/>
      <a href="http://facebook.com/askhollyhow" target="_blank">Facebook</a><br/>
      <a href="http://instagram.com/AskHollyHow" target="_blank">Instagram</a>
      </p>
    </div>
      <div class="col-xs-12 col-md-5">
        {% include email-signup.html %}
      </div>
    </div>

    <div class="row m-xs-t-2">
      <div class="col-xs-12">
      <ul id="footer-nav" class="text-uppercase sans">
      <!-- ** Write a for loop here once all of the pages are dynamically generated in the '_pages' folder -->
      {% assign pages = site.pages | sort: "order" %}
      {% for page in pages %}
      {% if page.title != "Home" %}
      <li><a href="{{ page.url }}"><strong>{{page.title}}</strong></a></li>
      {% endif %}
      {% endfor %}
      <li><strong><a href="#">Privacy</strong></a></li>
      <li><strong><a href="#">Terms of Use</strong></a></li>
      </ul>
      </div>
    </div>

    <div class="row m-sm-t-2">
      <div class="col-xs-12">
      <p class="caption">&copy; 2017 Holly Howard Consulting</p>
      </div>
    </div>

  </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  <script>
  var scrollNum = parseInt(window.scrollY);
  var navPad = 25;
  if ( scrollNum >= 0 && scrollNum <= 25 ) {
  //  console.log('scrollNum is ' + scrollNum);
    document.getElementById('ahh-nav').style.paddingTop = navPad + 'px';
    document.getElementById('ahh-nav').style.paddingBottom = navPad + 'px';


  }
  //console.log(scrollNum);
    document.addEventListener('DOMContentLoaded', function() {
      window.addEventListener('load', function() {

        var scrollNum = parseInt(window.scrollY);
        var navPad = 25;
        //console.log(scrollNum);
        if (document.getElementById('more-tests')) {
        document.getElementById('more-tests').onclick = function(){
          document.getElementById('row-2').style.display = 'block';
          document.getElementById('more-tests').style.display = 'none';
        };

        document.getElementById('less-tests').onclick = function(){
          document.getElementById('row-2').style.display = 'none';
          document.getElementById('more-tests').style.display = 'block';
        };
        }


        if ( scrollNum >= 0 && scrollNum <= 25 ) {
        //  console.log('scrollNum is ' + scrollNum);
          document.getElementById('ahh-nav').style.paddingTop = navPad + 'px';
          document.getElementById('ahh-nav').style.paddingBottom = navPad + 'px';
          document.querySelector('#ahh-top-logo').style.strokeOpacity = 1;
          document.querySelector('#ahh-top-logo').style.fillOpacity = 1;
        } else {
          document.querySelector('#ahh-top-logo').style.strokeOpacity = 0;
          document.querySelector('#ahh-top-logo').style.fillOpacity = 0;
          document.querySelector('#ahh-monogram').style.strokeOpacity = 1;
          document.querySelector('#ahh-monogram').style.fillOpacity = 1;
          document.querySelector('#ahh-monogram').style.top = 8 + 'px';
        }

        window.addEventListener('scroll', function () {
          // ((Math.sin(window.scrollY) + 1) * 24 ) + 'px'
          //((Math.sin(window.scrollY/200) + 1) * 24 )
          //document.getElementById('ahh-arrow').style.fontSize = ((Math.sin(window.scrollY/400) + 1) * 24 ) + 'px'//Math.sin(1 / window.scrollY % 360) + 'px'
          //document.getElementById('ahh-arrow').style.transform = 'rotateZ(' + window.scrollY % 360 + 'deg)'

            scrollNum = ((window.scrollY/8) * 1);
            //console.log(scrollNum+ ','+ navPad);
            if (scrollNum <= 30) {
              //document.querySelector('#ahh-top-logo').getElementById('st0').style.strokeDashoffset = scrollNum;
              //document.querySelector('.ahh-arrow').getElementById('st1').style.transform = "translate(scrollNum,10)";
              document.querySelector('#ahh-top-logo').style.top = (16 - (scrollNum/3)) + 'px';
              document.querySelector('#ahh-top-logo').style.strokeOpacity = (1 - (scrollNum/20));
              document.querySelector('#ahh-top-logo').style.fillOpacity = (1 - (scrollNum/20));
              document.querySelector('#ahh-monogram').style.strokeOpacity = (scrollNum/20);
              document.querySelector('#ahh-monogram').style.fillOpacity = (scrollNum/20);


              //document.querySelector('#ahh-monogram').style.top = (16 - (scrollNum/10)) + 'px';

              document.getElementById('ahh-nav').style.paddingTop = (navPad - scrollNum) + 'px';
              document.getElementById('ahh-nav').style.paddingBottom = (navPad - scrollNum) + 'px';
              //document.getElementById('ahh-nav').style.backgroundColor = 'transparent';
              document.getElementById('ahh-nav').style.backgroundColor = 'rgba(255, 221, 201,'+ scrollNum/24 +')';

            } else if (scrollNum > 30) {
                document.getElementById('ahh-nav').style.backgroundColor = 'rgba(255, 221, 201, 1)';
                //document.getElementById('ahh-nav').style.backgroundColor = '#ffddc9';
            } else {
              navPad = 25;

            }


        })

      }, false);
    }, false);

  </script>
  <script>
    var splittedText = ["grow your business", "write a business plan", "change office culture"];

    var speed = 3000

    function loopThroughSplittedText(splittedText) {

        for (var i = 0; i < splittedText.length; i++) {
            // for each iteration console.log a word
            // and make a pause after it
            (function (i) {
                setTimeout(function () {
                        if (i == 0) {
                        document.getElementById('action-msg').innerHTML = ''
                    }
                    document.getElementById('action-msg').innerHTML = splittedText[i];
                    //console.log(splittedText[i]);
                    if (i == splittedText.length - 1) {
                         setTimeout(function () {
                            loopThroughSplittedText(splittedText);
                       }, speed)
                    }
                }, speed * i);
            })(i);
        };
    }
    loopThroughSplittedText(splittedText);
  </script>
