<!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- Menu button that appears once the window is scaled -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Logo / name goes here -->
        <a class="navbar-brand" href="/">Ask Holly How</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          {% assign items = site.pages | sort: "order" %}
          {% for item in items %}
            {% if item.title != "Home" and item.title != "The Book" %}
                {% if page.url == item.url %}
                  <li><a href="{{ item.url }}" class="active">{{item.title}}</a></li>
                {% else %}
                  <li><a href="{{ item.url }}">{{item.title}}</a></li>
                {% endif %}
            {% endif %}
          {% endfor %}
          </ul>
          
        {% for item in site.pages %}
          {% if item.title == "The Book" %}
            <ul class="nav navbar-nav navbar-right">
            {% if page.url == item.url %}
                <li class=""><a href="{{ item.url }}" class="active">{{item.title}}</a></li>
            {% else %}
                <li class=""><a href="{{ item.url }}">{{item.title}}</a></li>
            {% endif %}
            </ul>
          {% endif %}
        {% endfor %}


      </div><!--/.nav-collapse -->
    </div>
  </nav>
