<!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" id="ahh-nav">
      <div class="navbar-header">
        <!-- Menu button that appears once the window is scaled -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Logo / name goes here -->
        <a class="navbar-brand" href="/"><img src="/images/ahh-small-logo.png" id="ahh-logo"/></a>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="100" height="100" viewBox="0 0 100 100" xml:space="preserve" class="ahh-arrow"><style type="text/css">
        .st0{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10; stroke-dasharray: 100; stroke-dashoffset: 200;}
        .st1{fill:none;stroke:#000000;stroke-miterlimit:10;}
      </style><polyline class="st0" id="st0" points="12.7 17 79.4 17 79.4 43.7 "/><polyline class="st1" id="st1" points="84.3 39.2 79.4 44.1 74.5 39.2 "/></svg> -->
      </div>

      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          {% assign items = site.pages | sort: "order" %}
          {% for item in items %}
            {% if item.title != "Home" and item.title != "The Book" %}
                {% if page.url == item.url %}
                  <li><a href="{{ item.url }}" class="active">{{item.title}}</a></li>
                {% else %}
                  <li><a href="{{ item.url }}">{{item.title}}</a></li>
                {% endif %}
            {% endif %}
          {% endfor %}
          </ul>

        {% for item in site.pages %}
          {% if item.title == "The Book" %}
            <ul class="nav navbar-nav navbar-right">
            {% if page.url == item.url %}
                <li class=""><a href="{{ item.url }}" class="active">{{item.title}}</a></li>
            {% else %}
                <li class=""><a href="{{ item.url }}">{{item.title}}</a></li>
            {% endif %}
            </ul>
          {% endif %}
        {% endfor %}


      </div><!--/.nav-collapse -->
  </nav>
  <div>


  </div>
