@import 'fonts';
@import 'bootstrap-custom';
@import 'nav';
@import 'mixins';


@include responsive_padding_margins();

html {
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Bianco Sans New", Arial, sans-serif;
  color: $navy;
  background-color: $cream;
}

h1 {
font-family: "Bianco Serif New", Times, sans-serif;
font-size: 4rem;
}

@media only screen and (max-width: $screen-sm) {
  h2.sans {
    font-size: 2rem;
  }
}

@media only screen and (max-width: $screen-xs) {
  h2.sans {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: $screen-sm) {
  h2.services {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: $screen-sm) {
  h2.artisan-title {
    font-size: 1.9rem;
    line-height: 1.25;
  }
}

h5 {
font-size: 2.25rem;
}

h6 {
font-size: .825rem;
text-transform: uppercase;
font-family: "Bianco Sans New Bold";
font-weight: normal;
}

.display-1 {
font-size: 2.5rem;}

.caption {
  font-size: .75rem;
}

p.caption a {
  font-family: "Bianco Sans New Bold";
  border-bottom: 1px solid $navy;
}

figcaption {
  font-size: $font-size-medium;
  margin-top: 10px;
}

strong {
  font-weight: normal;
}

.testimonial-content a {
  border-bottom: solid 1px $navy;
}

.serif {
  font-family: $font-family-serif;
  &.bold {
    font-family: "Bianco Serif New Bold";
  }
  strong {
    font-family: "Bianco Serif New Bold";
  }
}

.sans {
  font-family: $font-family-sans-serif;
  &.bold {
    font-family: "Bianco Sans New Bold";
  }
  strong {
    font-family: "Bianco Sans New Bold";
  }
}

.flex-row {
  margin-left: 0px;
  margin-right: 0px;
}

#ask-how-circle {
  background-image: url(/images/ahh-askmore-button.png);
  background-size: cover;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 15px;
  &:hover {
    background-image: url(/images/ask_how.gif);
    border-bottom: none;
  }
}

.inline-text {
  display: block;
}

.lead {
  font-size: $font-size-large;
}

.service-list {
  font-size: $font-size-large;
}

.inline-link {
  font-size: $font-size-large;
  line-height: 4.5;
}

.copyright {
  font-size: $font-size-large;
  line-height: 4.5;
}

.intro-lead {
  font-size: $font-size-h4;
}

h6.up-next {
  display: inline-block;
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  background-color: $tan-pink;
}

h6.figure-number {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  background-color: $gold;
  color: $cream;
  margin-top: 25px;
}

.full-width {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, button {
  color: $navy;
  outline: none;
  -webkit-appearance: none;
  &.navbar-brand {
    &:hover {
      border-bottom: none;
      outline: none;
    }
  }
  &:hover {
    color: $navy;
    text-decoration: none;
    border-bottom: solid 1px $navy;
    outline: none;
  }
  &:focus {
    outline: none;
    outline: 0;
  }
  strong {
    font-family: "Bianco Sans New Bold";
  }
}

#get-in-touch {
  font-size: 1.625rem;
  line-height: 3.5;
}

.btn-md {
  background: transparent;
  border: solid .12rem $navy;
  padding: .45rem 1rem .25rem;
  font-size: 1.1rem;
  margin-top: 1.4rem;
  &:hover {
    text-decoration: none;
    background: $navy;
    color: $cream;
    border: solid .12rem $navy;
  }
}

// .top {
//   text-align: center;
// }

#ahh-monogram {
  position: absolute;
  top: 8px;
  .cls-1 {
    fill: none;
    stroke: $navy;
    stroke-width: 1.5px;
  }

  .cls-2 {
    fill: $navy;
  }
}

#ahh-nav {
  height: auto;
  // background-color: $orange;
  // .nav {
  //   background-color: $orange;
  // }
  #ahh-monogram {
    position: absolute;
    // top: 16px;
    fill-opacity: 0;
    stroke-opacity: 0;
    .cls-1 {
      fill: none;
      stroke: $navy;
      stroke-width: 1.5px;
    }

    .cls-2 {
      fill: $navy;
    }
  }
}

#ahh-top-logo {
  position: absolute;
  top: 16px;
  fill-opacity: 1;
  stroke-opacity: 1;
  .cls-1 {
    fill: none;
    stroke: $navy;
    stroke-width: 1.5px;
  }

  .cls-2 {
    fill: $navy;
  }
}




#top-header {
  padding: 9rem 1rem 15rem 1rem;
  text-align: center;
  position: relative;
  margin: 0 auto;
  @media only screen and (max-width: $screen-sm) {
    padding: 9rem 0rem 9rem 0rem;
  }
  @media only screen and (max-width: $screen-xs) {
    padding: 9rem 0rem 9rem 0rem;
    text-align: left;
  }
  span#for-creative {
    width: 311px;
    display: inline-block;
    @media only screen and (max-width: 1080px) {
      width: 222px;
    }
    @media only screen and (max-width: $screen-md) {
      width: 222px;
    }
    @media only screen and (max-width: $screen-sm) {
      width: 166px;
    }
  }
  span#entrepeneurs {
    width: 201px;
    display: inline-block;
    @media only screen and (max-width: 1080px) {
      width: 144px;
    }
    @media only screen and (max-width: $screen-md) {
      width: 144px;
    }
    @media only screen and (max-width: $screen-sm) {
      width: 105px;
    }
  }

}

.top-header-text-container {
  text-align: left;
    margin: 0 auto;
    display: inline-block;
}

#top-header h1 {
font-family: "Bianco Serif New", Times, sans-serif;
font-size: 6rem;
position: relative;
margin-top:0;
margin-bottom: 0;
    @media only screen and (max-width: 1080px) {
      font-size: 4.25rem;
    }
    @media only screen and (max-width: $screen-md) {
      font-size: 4.25rem;
    }
    @media only screen and (max-width: $screen-sm) {
      font-size: 2.75rem;
    }
    @media only screen and (max-width: $screen-xs) {
      font-size: 2.25rem;
    }
    @media only screen and (max-width: 320px) {
      font-size: 2rem;
    }
}

.home-top-img {
  position: absolute;
}

#start-finish-home {
  top: calc(50% - 7rem);
  left: calc(50% - 11.5rem);
  max-width: 200px;
  @media only screen and (max-width: 1080px) {
    top: calc(50% - 6rem);
    left: calc(50% - 8rem);
    max-width: 150px;
  }
  @media only screen and (max-width: $screen-md) {
    top: calc(50% - 6rem);
    left: calc(50% - 8rem);
    max-width: 150px;
  }
  @media only screen and (max-width: $screen-sm) {
    top: calc(50% - 6rem);
    left: calc(50% + 4rem);
    width: 140px;
  }
  @media only screen and (max-width: $screen-xs) {
    top: calc(50% - 5rem);
    left: calc(50% + 1.5rem);
    width: 115px;
  }
}

#how-head-home {
  top: calc(50% + 9rem);
  left: calc(50% + 14rem);
  width: 180px;
  @media only screen and (max-width: 1080px) {
    top: calc(50% + 7rem);
    left: calc(50% + 10rem);
    width: 155px;
  }
  @media only screen and (max-width: $screen-md) {
    top: calc(50% + 7rem);
    left: calc(50% + 10rem);
    width: 155px;
  }
  @media only screen and (max-width: $screen-sm) {
    display: none;
  }
  @media only screen and (max-width: $screen-xs) {
    display: none;
  }
}

#eye-home {
  top: calc(50% - 16rem);
  left: calc(50% + 13rem);
  width: 95px;
  @media only screen and (max-width: 1080px) {
    top: calc(50% - 12.5rem);
    left: calc(50% + 6.75rem);
    width: 75px;
  }
  @media only screen and (max-width: $screen-md) {
    top: calc(50% - 12.5rem);
    left: calc(50% + 6.75rem);
    width: 75px;
  }
  @media only screen and (max-width: $screen-sm) {
    top: calc(50% - 9rem);
    left: calc(50% - 2rem);
    width: 70px;
  }
  @media only screen and (max-width: $screen-xs) {
    top: calc(50% - 8rem);
    left: calc(50% - 2rem);
    width: 70px;
  }
  @media only screen and (max-width: 320px) {
    top: calc(50% - 7rem);
    left: calc(50% - 3rem);
    width: 70px;
  }
}

#eye-programs {
  top: 0px;
  left: 0px;
  width: 95px;
}

#growth-home {
  top: calc(50% + 11rem);
  left: calc(50% - 8rem);
  max-width: 280px;
  @media only screen and (max-width: 1080px) {
    top: calc(50% + 8rem);
    left: calc(50% - 8rem);
    max-width: 280px;
  }
  @media only screen and (max-width: $screen-md) {
    top: calc(50% + 8rem);
    left: calc(50% - 8rem);
    max-width: 280px;
  }
  @media only screen and (max-width: $screen-sm) {
    top: calc(50% + 7rem);
    left: calc(50% - 7rem);
    max-width: 220px;
  }
  @media only screen and (max-width: $screen-xs) {
    top: calc(50% + 6rem);
    left: calc(50% - 7rem);
    max-width: 200px;
  }
}

#column-home {
  top: calc(50% - .125rem);
  left: calc(50% - 24rem);
  width: 160px;
  @media only screen and (max-width: 1080px) {
    top: calc(50% - .125rem);
    left: calc(50% - 18rem);
    width: 130px;
  }
  @media only screen and (max-width: $screen-md) {
    top: calc(50% - .125rem);
    left: calc(50% - 18rem);
    width: 130px;
  }
  @media only screen and (max-width: $screen-sm) {
    display: none;
  }
  @media only screen and (max-width: $screen-xs) {
    display: none;
  }
}

#arrow-home {
  top: calc(50% - 8rem);
  left: calc(50% + 7rem);
  max-width: 255px;
  @media only screen and (max-width: 1080px) {
    top: calc(50% - 8rem);
    left: calc(50% + 5rem);
    max-width: 215px;
  }
  @media only screen and (max-width: $screen-md) {
    top: calc(50% - 8rem);
    left: calc(50% + 5rem);
    max-width: 215px;
  }
  @media only screen and (max-width: $screen-sm) {
    display: none;
  }
  @media only screen and (max-width: $screen-xs) {
    display: none;
  }
}

#all-tests {
  display: none;
}

.underline {
  // text-decoration: underline;
 //border-bottom: solid 3px;
    background-size: 1px 1em;
    box-shadow: inset 0 -0.1625em inherit, inset 0 -0.2em $navy;
    display: inline;
    a {
      &:hover {
        border-bottom: none;
      }
    }
}

.bg-cream {
  background-color: $cream;
  color: $navy;
}

.bg {
  background-color: $cream;
  color: $cream;
  margin-left: 0px;
  margin-right: 0px;
  &.orange {
    background-color: $orange;
  }
  &.orange-navy {
    background-color: $orange;
    color: $navy;
  }
  &.green {
    background-color: $green;
    color: $navy;
    .underline {
      // text-decoration: underline;
     //border-bottom: solid 3px;
     background-size: 1px 1em;
        box-shadow: inset 0 -0.1625em $green, inset 0 -0.2em $navy;
        display: inline;
        &:hover {
          box-shadow: inset 0 -0.15em $green, inset 0 -0.2em $navy;
        }
    }
    .btn-md {
      border: solid .12rem $navy;
      &:hover {
        text-decoration: none;
        background: $navy;
        color: $green;
        border: solid .12rem $navy;
      }
    }

  }
  &.light-green {
    background-color: $light-green;
    color: $navy;
  }
  &.pink {
    background-color: $pink;
    color: $navy;
  }
  &.light-pink {
    background-color: $light-pink;
    color: $navy;
  }
  &.light-blue {
    background-color: $light-blue;
    color: $navy;
  }
  &.tan-pink {
    background-color: $tan-pink;
    color: $navy;
  }
  &.light-tan-pink {
    background-color: $light-tan-pink;
    color: $navy;
  }
  &.cream {
    background-color: $cream;
    color: $navy;
  }
  &.pink-cream {
    background-color: $pink-cream;
    color: $navy;
  }
  &.white-gold {
    background-color: #fff;
    color: $gold;
  }
  &.lemon {
    background-color: $lemon;
    color: $navy;
  }
  &.light-lemon {
    background-color: $light-lemon;
    color: $gold;
  }
}

.border-gold {
  border: solid 1px $gold;
}

.border-navy {
  border: solid 2px $navy;
}

.services-border-navy-left {
  border-right: solid 1px $navy;
  border-bottom: solid 1px $navy;
  border-top: solid 1px $navy;
  @media only screen and (max-width: $screen-sm) {
    border-right: none;
  }
}

.services-border-navy-right {
  border-bottom: solid 1px $navy;
  border-top: solid 1px $navy;
  border-left: solid 1px $navy;
  @media only screen and (max-width: $screen-sm) {
    border-right: none;
  }
}

.border-navy-bottom {
  border-bottom: solid 1px $navy;
}

.border-navy-top {
  border-top: solid 1px $navy;
}

.card-stack:before {
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid $navy;
  background-color: $cream;
  position: absolute;
  z-index: -1;
  top: 16px;
  left: 16px;
}

.card-stack {
  border: 2px solid $navy;
  padding: 2em 2em 2em 2em;
  position: relative;
  background-color: $cream;
}

.card-wrapper {
  position: relative;
  z-index: 100;
  color: $navy;
}

.card-stack {
  margin-right: 15px;
}

img.alignright {
  float: right;
  margin: 2em 0 1em 1em;
}

.anchor {
  display: block;
  height: 77px;
  margin-top: -77px;
  visibility: hidden;
  @media only screen and (max-width: $screen-sm) {
    display: block;
    height: 2px;
    margin-top: -2px;
    visibility: hidden;
  }
}

.coming-soon {
  background-color: $cream;
  color: $navy;
  padding: .5em .5em .3em .5em;
  display: inline-block;
  font-size: $font-size-h5;
  @media only screen and (max-width: $screen-sm) {
    margin-top: 30px;
  }
}

.book-overview-img {
  width: 210px;
}

.two-color-row {
  background: linear-gradient(to right,  $pink 0%,$pink 50%,$tan-pink 50%,$tan-pink 100%);
}

.flex-full-height {
  display: flex;
  align-items: stretch;
  div:first-of-type {
      text-align: right;
      display: inline-block;
      div {
        display: inline-block;
        text-align: left;
      }
  }
  div {
    display: inline-block;
    text-align: left;
  }

  @media only screen and (max-width: $screen-md) {
    display: block;
    align-items: none;
    margin-bottom: 2em;
    div:first-of-type {
      text-align: center;
    }
    div {
      text-align: center;
      // padding: 2em 1em;
    }
  }
}

.block {
  &.left {
    margin-left: calc(100% - 555px);
    padding-right: 30px;
    @media only screen and (max-width: $screen-lg) {
      margin-left: calc(100% - 455px);
    }
    @media only screen and (max-width: $screen-md) {
      width: 720px;
      margin: 0 auto;
      padding-right: 0px;
    }
    @media only screen and (max-width: $screen-sm) {
      width: 100%;
      padding: 0 $grid-gutter-width/2;
    }
  }
  &.right {
    padding-left: 30px;
    width: 600px;
    text-align: left !important;
    @media only screen and (max-width: $screen-lg) {
      width: 600px;
    }
    @media only screen and (max-width: $screen-md) {
      width: 720px;
      margin: 0 auto;
      padding-left: 0px;
    }
    @media only screen and (max-width: $screen-sm) {
      width: 100%;
      padding: 0 $grid-gutter-width/2;
    }
  }
}

.testimonial-content {
  p {
    // font-size: .75rem;
  }
}

ul.services-list {
  list-style: circle;
  font-size: .825rem;
  padding-left: 1rem;
}

.service-image-container {
  max-width: 600px;
}

ul.schedule {
  font-size: .825rem;
}

ul.schedule li {
  margin-top: .4rem;
}

// Footer Stuff

#ahh-mdash {
  letter-spacing: -1px;
}

#footer-nav {
  font-size: .9rem;
  font-family: $font-family-sans-serif !important;
  letter-spacing: .025rem;
  font-weight: normal;
  line-height: 1.75;
}

#mc_embed_signup {
  form {
    .mc-field-group {
      input#mce-EMAIL {
        border: solid 2px $navy;
        height: auto;
        min-width: 290px;
        max-width: 325px;
        width: 100%;
        margin: 0 .5rem 0 0;
        padding: .875rem 1.25rem .75rem 1.25rem;
        line-height: 1.5;
        display: inline-block;
        float: left;
        font-size: 1.25rem;
        background-color: transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        &::placeholder {
          color: $navy;
        }
        &:focus {
          outline: none;
          -webkit-appearance: none;
          background-color: lighten($cream, 15%);
          &::placeholder {
            opacity: .25;

          }
        }
      }
      button#mc-embedded-subscribe {
        background-color: transparent;
        border: solid 2px $navy;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .2rem;
        font-size: .75rem;
        padding: 0.65rem 1.125rem .6rem 1.125rem;
        line-height: 1;
        text-align: center;
        @media only screen and (max-width: 768px) {
          margin-top: 0em !important;
        }
        @media only screen and (max-width: 450px) {
          margin-top: 1.25em !important;
        }
        &:hover {
          background-color: $navy;
          color: $cream;
        }
      }
    }
  }
}


.book {
  #mc_embed_signup {
    form {
      .mc-field-group {
        input#mce-EMAIL {
            &:focus {
              background-color: lighten($cream, 2%);
              color: $navy;
            }
          }
        }
      }
    }
}

// @-webkit-keyframes action-msg-animation {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
// @-moz-keyframes action-msg-animation {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
// @-o-keyframes action-msg-animation {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
// @keyframes action-msg-animation {
//   0%   { display: none;  }
//   100% { display: block; }
// }
//
// $animation-rate: 800ms;
// $animation-delay: 5s;
//
// #msg-1 {
//   -webkit-animation: action-msg-animation $animation-rate infinite linear; /* Safari 4+ */
//   -moz-animation:    action-msg-animation $animation-rate infinite linear; /* Fx 5+ */
//   -o-animation:      action-msg-animation $animation-rate infinite linear; /* Opera 12+ */
//   animation:         action-msg-animation $animation-rate infinite linear; /* IE 10+, Fx 29+ */
// }
