@import 'bootstrap-custom';


html {
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Bianco Sans New", Arial, sans-serif;
  color: $navy;
}

h1 {
font-family: "Bianco Serif New", Times, sans-serif;
font-size: 4rem;
}

h6 {
font-size: 1.5rem;
}

h5 {
font-size: 2.5rem;
}

.caption {
  font-size: .75rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#top-header {
  padding: 5rem 1rem 1rem 1rem;
}

#top-header h1 {
font-family: "Bianco Serif New", Times, sans-serif;
font-size: 8rem;
}

.bg {
  background-color: gray;
  color: $cream;
  &.orange {
    background-color: $orange;
  }
  &.green {
    background-color: $green;
    color: $navy;
  }
  &.pink {
    background-color: $pink;
    color: $navy;
  }
  &.light-blue {
    background-color: $light-blue;
    color: $navy;
  }
  &.tan-pink {
    background-color: $tan-pink;
    color: $navy;
  }
  &.cream {
    background-color: $cream;
    color: $navy;
  }
}

.p-y {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
