@font-face {
    font-family: 'Bianco Sans New';
    src:  url('/_assets/fonts/BiancoSansNew.eot'); /* IE9 Compat Modes */
    src:  url('/_assets/fonts/BiancoSansNew.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/_assets/fonts/BiancoSansNew.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bianco Sans New Bold';
    src:  url('/_assets/fonts/BiancoSansNew-Bold.eot'); /* IE9 Compat Modes */
    src:  url('/_assets/fonts/BiancoSansNew-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/_assets/fonts/BiancoSansNew-Bold.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bianco Serif New';
    src:  url('/_assets/fonts/BiancoSerifNew.eot'); /* IE9 Compat Modes */
    src:  url('/_assets/fonts/BiancoSerifNew.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/_assets/fonts/BiancoSerifNew.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bianco Serif New Bold';
    src:  url('/_assets/fonts/BiancoSerifNew-Bold.eot'); /* IE9 Compat Modes */
    src:  url('/_assets/fonts/BiancoSerifNew-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/_assets/fonts/BiancoSerifNew-Bold.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
