
nav.navbar {
  background-color: $pink-cream;
  border-color: $pink-cream;
  border: none;
  height: 75px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.navbar-default {
  border-color: transparent;
}

.middle-nav {
  margin-left: 81px;
  @media only screen and (max-width: $screen-sm) {
    margin-left: 0px;
  }
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    &.visited {
      background-color: transparent;
    }
    &.active {
      background-color: transparent;
    }
    &.focus {
      background-color: transparent;
    }
    &:hover {
      background-color: transparent;
    }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav li a.active {
    border-bottom: 2px solid transparent;
    &.visited {
      border-bottom: 2px solid transparent;
    }
    &.active {
      border-bottom: 2px solid transparent;
    }
    &.focus {
      border-bottom: 2px solid transparent;
    }
    &:hover {
      border-bottom: 2px solid transparent;
    }
  }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $navy;
}

nav#ahh-nav {
  background-color: transparent;
  border-color: transparent;
  ul.navbar-nav {
    background-color: transparent;
  }
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 0px;
    margin: 28px 25px;
  }

.navbar .navbar-nav {
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .075rem;
    color: $navy;
    background-color: $pink-cream;
}

.navbar-right {
    padding-right: 15px;
}

.navbar-default .navbar-nav>li>a {
    color: $navy;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 28px;
    margin-bottom: 25px;
    font-weight: normal;
    font-family: $font-family-sans-serif-bold;
    border-bottom: solid 2px transparent;
    &.active {
      border-bottom: solid 2px $navy;
    }
    &:hover {
      color: $navy;
      border-bottom: solid 2px $navy;
    }
}

.navbar-default .navbar-nav{
  li {
    color: $navy;

  }
}

.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}

#ahh-logo {
  width: 50%;
  height: auto;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        text-transform: uppercase;
        font-weight: bold;
        color: $navy;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 991px) {
  .navbar .navbar-collapse {
    text-align: right;
  }
}

@media (max-width: 767px) {
    .navbar-fixed-top {
      position: relative;
      top: 0;
      margin-bottom: -100px;
    }

    .navbar-collapse.collapse {
      transition: height 0.05s;
    }

    .navbar-collapse {
      height: 500px;
      transition: height 0.05s;
    }

    .navbar-default .navbar-nav li a:hover {
      border-bottom: 2px solid transparent;
    }

    .navbar-nav {
      margin: 30px -15px 0px -15px;
    }

    .navbar-right {
      margin: -25px -15px 0px -15px;
    }

    .navbar .navbar-collapse {
      text-align: left;
    }
}
