---
layout: base
---
<div class="row bg cream">
  <div class="container p-xs-y-6">
    <div class="row">
      <div class="col-sm-12">
        <h2>About</h2>
      </div>
    </div>
    <div class="row m-xs-t-2">
      <div class="col-md-7 col-sm-8">
        <p class="lead">Ask Holly How is a business consultancy founded on the principle that successful entrepreneurship resides at the intersection of self-evolution, business growth, and
        the creative pursuit.
        </p>
        <p class="m-xs-t-1">Since launching Ask Holly How in 2012, Holly has worked with over 100 businesses through her private consulting and business growth program.  She has a rich background as a professional ballet dancer, music therapist,  medical researcher, bassoonist, and a VP of Operations and Finance. Each of these pursuits has allowed her to shape her approach and philosophy to helping entrepreneurs grow their business without sacrificing their souls.
        </p>
        <div class="m-xs-t-2 m-xs-b-2"><a href="mailto:hhoward@askhollyhow.com" class="inline-link"><img src="/images/ahh-askmore-button.png" class="img-responsive m-xs-r-1" id="ask-how-circle" style="max-width: 112.5px; float: left;"/>Get in touch!</a></div>
      </div>
      <div class="col-md-4 col-md-offset-1 col-sm-4">
        <figure>
          <img src="/images/Holly_Portrait.jpg" class="img-responsive"/>
          <figcaption>Holly Howard &mdash; Principal</figcaption>
        </figure>
      </div>
    </div>
  </div><!-- /container -->
</div>

<div class="row bg tan-pink">
  <div class="container p-xs-y-3">
    <div class="row">
      <div class="col-sm-12">
        <h2>Why How?</h2>
      </div>
    </div>
    <div id="row-1" class="row">
      <div class="col-sm-5 p-xs-t-3">
        <div class="testimonial-content">
          <p class="byline serif p-xs-b-1">Victoria Hagman<br/><strong><a href="http://realtycollective.com/">Realty Collective</a></strong> &mdash; Brooklyn, NY</p>
          <p>The most valuable part of the <a href="/programs">From Artisan to Entrepreneur</a> program was learning right along side other business owners within my community. It’s a rare opportunity to be able to have such frank conversations and get such beneficial feedback from my peers, all while fortifying the relationships within my community that help my business grow. Taking the From Artisan to Entrepreneur class pulled me out of the hyper-adrenaline, day-to-day mode of running a business and shed light on problems I wasn’t addressing and needed to overcome. The supportive community within the class allowed me to feel confident and accountable in recognizing those problems and the program gave me the solutions to solve them.</p>
        </div>
      </div>

      <div class="col-sm-5 col-sm-offset-1 p-xs-t-3">
        <div class="testimonial-content">
          <p class="byline serif p-xs-b-1">Sarah Ryhanen<br/><strong><a href="http://saipua.com/">Saipua</a></strong> &mdash; New York, NY</p>
          <p>We’ve operated like a loosely organized club for so long; without systems, without rules, without clear direction. Holly has a clear gift for immediately pinpointing simple shifts to alleviate the chaos and hangups that so many of us experience in small creative businesses. It’s like magic. Thanks to her From Artisan to Entrepreneur class, Saipua now has a very clearly defined vision with specific goals that keep the whole team on that path. We have shifted our company culture from one of martyrdom and exhaustion to one of enthusiasm and joy.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <button id="more-tests" class="btn-md serif bold">More</button>
      </div>
    </div>
    <div id="all-tests">
      <div id="row-2" class="row">
        <div class="col-sm-5 p-xs-t-3">
          <div class="testimonial-content">
            <p class="byline serif p-xs-b-1">Maggie Pouncey &amp; Matt Miller<br/><strong><a href="http://storiesbk.com/">Stories Bookshop + Storytelling Lab</a></strong> &mdash; Brooklyn, NY</p>
            <p>We met with Holly Howard when our business was just a glimmer of an idea. She was our trusted guide through the entire process of developing our business plan, through to the early days of hiring and opening our bookshop. Her warmth, wisdom, expertise, vast connections in the small business community, as well as her faith in our mission, and encouragement, was invaluable to us as we shaped our glimmer into something concrete. We quite simply could not have opened Stories in the time frame in which we did it, without Holly's help.</p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 p-xs-t-3">
          <div class="testimonial-content">
            <p class="byline serif p-xs-b-1">Jen Pywell<br/><strong><a href="https://greenpointers.com/">Greenpointers</a></strong> &mdash; Brooklyn, NY</p>
            <p>Big thanks to Ask Holly How for helping me create a selling plan for my former business Greenpointers.  All small business owners should think about a business plan and GET HELP! Working with her gave me confidence and showed me the true value of all my hard work. It also increased the profit of my sale to almost double of an offer I received before working with her! When I come up with another business idea she is the first person I am going to call!</p>
          </div>
        </div>
      </div>
      <div id="row-3" class="row">
        <div class="col-sm-5 p-xs-t-3">
          <div class="testimonial-content">
            <p class="byline serif p-xs-b-1">Tone Johansen<br/><strong><a href="http://www.sunnysredhook.com/">Sunny’s Bar</a></strong> &mdash; Brooklyn, NY</p>
            <p>The name of the course is <a href="/programs">From Artisan to Entrepreneur</a>. I am an artist and musician that stumbled into the bar business.  It is the love of what I do that makes me an artisan.  Today, thanks to this class, I take better care of the systems that support my bar.  Thank you, Holly, for making me understand that being poor doesn’t make me more authentic. It just makes me poor. And although money still is not my primary motivation, you helped me recognize that it is a necessary tool to keep my business healthy. I am proud to think financially and to not just pretend the scary “business of business” doesn’t exist and hope for the best. On the days when sisyphean tasks pile up, you start to wonder where your freedom went.  Now, because of this class, I have lots of obvious goals that pull me out of that day-to-day and keep me excited about the future.</p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 p-xs-t-3">
          <div class="testimonial-content">
            <p class="byline serif p-xs-b-1">David Obochowski<br/><strong>David Obuchowski Architects</strong> &mdash; Brooklyn, NY</p>
            <p>I feel as though the <a href="/programs">From Artisan to Entrepreneur</a> program is the thing that will make my business viable as a lifelong pursuit, allowing me to support a family with the creative work I’ve always loved. Before I took the class, I was content with the unpredictable and random growth of my practice, and very much focused only on the production of the immediate work at hand. The class helped me get a handle on the total picture of running a sustainable business and defining what success could and would actually look like. Holly’s clear, thoughtful and sensitive guidance has given me the confidence to define goals for my practice and to actually believe that they’re achievable. It’s incredible satisfying to have the business in the background of my design work feel as carefully considered as the work itself.</p>
          </div>
        </div>
      </div>
      <div id="row-4" class="row">
        <div class="col-sm-5 p-xs-t-3">
          <div class="testimonial-content">
            <p class="byline serif p-xs-b-1">Erin<br/><strong>Knot and Bow</strong> &mdash; Brooklyn, NY</p>
            <p>Like many small business owners, I have grown my business from the ground up. I often inadvertently skipped steps along the way. This class was an amazing opportunity that equipped me with knowledge and tools that helped me make positive changes within my company. I have a fresh set of eyes and a renewed sense of energy and excitement for the future.</p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 p-xs-t-3">
          <div class="testimonial-content">
            <p class="byline serif p-xs-b-1">Dawn<br/><strong>One Girl Cookies</strong> &mdash; Brooklyn, NY</p>
            <p>My experience in this program was instrumental. It helped me intelligently prepare my business to grow through forming a solid foundation. The topics were especially relevant, and included professional soul searching as well as more tactical, practical information. I highly recommend it to any business owner looking to tighten systems and learn how to become a better leader and overall happier business owner.</p>
          </div>
        </div>
      </div>
      <div id="row-5" class="row">
        <div class="col-sm-5 p-xs-t-3">
          <div class="testimonial-content">
            <p class="byline serif p-xs-b-1">Catherine May<br/><strong>Maison May</strong> &mdash; Brooklyn, NY</p>
            <p>Running a small business is incredibly rewarding yet challenging and often lonely for its leader. Over the course of the years working with Holly, I realized that she has an un-matched ability to embrace and understand deeply all aspects of what it takes to be an entrepreneur and therefore, she is truly able to assist me through not only the lows, but the highs that came with the task. It takes incredible strength and self-exploration in her part to master that in a way that is not only empowering but no intrusive in what must stay the leader's process to achieve his goals. And she does it always with a smile...</p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 p-xs-t-3">
          <div class="testimonial-content">
            <p class="byline serif p-xs-b-1">Rebecca Bullene<br/><strong>Greenery NYC</strong> &mdash; Brooklyn, NY</p>
            <p>Working with Holly transformed my business and helped me to become a better manager. Holly helped me prioritize my time and energy to become more efficient and a more savvy sales person of our services. She helped me to take a hard look at our numbers and make the right decisions to shed the parts of our business that weren't working and focus on those that were. Working with Holly helped me to get a better understanding of how we could be more profitable and what kinds of clients we should be targeting to grow our business while also helping me understand what kind of staffing I'd need to put in place to reach my goals. She also made introductions to financing partners to help expand our business and other local business with aligned interests. Working with Holly over the course of two years doubled our revenue and made me a much more effective manager. I can not recommend her services highly enough!</p>
          </div>
        </div>
      </div>
      <div id="row-6" class="row">
        <div class="col-sm-5 p-xs-t-3">
          <div class="testimonial-content">
            <p class="byline serif p-xs-b-1">Caroll Lee<br/><strong><a href="https://www.provenancemeals.com/">Provenance Meals</a></strong> &mdash; Brooklyn, NY</p>
            <p>As a small business owner, I often feel like my to-do list is endless and that I’m struggling to keep up instead of forging ahead. Desperate for help, I reached out to Holly Howard and am so pleased I did. Holly helped me organize, prioritize and take action. I was so impressed with her ability to quickly understand the issues I was facing, prioritize my tasks, and help me execute. Not only has my customer base and sales increased dramatically, but I feel in control of my business again. Holly’s support is priceless and I know that I will turn to her again and again as my business continues to grow and face new challenges. Thank you, Holly!</p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 p-xs-t-3">
          <div class="testimonial-content">
            <p class="byline serif p-xs-b-1">Brent Young<br/><strong><a href="http://the-meathook.com/">The Meat Hook</a></strong> &mdash; Brooklyn, NY</p>
            <p>When we started The Meat Hook, we focused our efforts on creating the best butcher shop in town, mostly fueled by beer and whiskey. However, we didn’t take the time to focus on the structure of our business, and the organization we were creating. Holly helped us define our roles and responsibilities, clarify our relationships, be better leaders, and get on the same page. Our shop is now managed better, with clear managerial roles, and expectations. Everyone’s job easier just knowing what is expected of them, and how they can succeed. Now we’re drinking to relax, rather than out of stress.</p>
          </div>
        </div>
      </div>
      <div id="row-7" class="row">
        <div class="col-sm-5 p-xs-t-3">
          <div class="testimonial-content">
            <p class="byline serif p-xs-b-1">Megan Hill<br/><strong><a href="http://www.hellosuperstudios.com/">Hello Super Studios</a></strong> &mdash; Brooklyn, NY</p>
            <p>In a time where my company was in transition, I reached out to Holly for help in figuring out what I really wanted and needed to keep the business going and in a new direction. She really took the time to understand my business—doing industry research and offering useful information that I hadn’t thought about already. One of the most eye-opening pieces of info I gained was discovering what I truly wanted out of my business. I had become so caught up in the day-to-day, I had lost sight of WHY I was doing what I was doing. Holly gave me the tools to help me define “why” I do what I do which ultimately helped me expand my business. And in the short time we worked together, I was able to rejuvenate my branding, logo, website and overall mindset of how to make things work better for me. She truly went above and beyond to make it happen!</p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 p-xs-t-3">
          <div class="testimonial-content">
            <p class="byline serif p-xs-b-1">Caroline Moore<br/><strong><a href="http://www.mooreparties.com/">Kevin’s &amp; Little Eva’s</a></strong> &mdash; Brooklyn, NY</p>
            <p>I think one of the most important lessons I took away from the Artisan to Entrepreneur class is that our small business (like one’s art) is a reflection of who we are and can’t be something we are not. The ambivalence I’ve felt toward being a businesswoman, (no, it was utter disdain) has dissipated and I just see it as a creative venture.</p>
          </div>
        </div>
      </div>
      <div id="row-8" class="row">
        <div class="col-sm-12">
          <button id="less-tests" class="btn-md serif bold">Less</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row m-sm-y-6">
    <div class="col-xs-12 col-md-7">
      <h2>What We Do</h2>
      <p class="lead">We work with entrepreneurs at the critical stage in their development when they realize that starting a business and growing a business are two separate skillsets. By uncovering their personal values and vision we clarify the path forward allowing them to create greater value for every part of their business, from daily customer experiences to long-term financial planning.
      </p>
    </div>
  </div>

  <div class="row m-sm-y-6">
    <div class="col-xs-12 col-md-6">
      <h2>Bio</h2>

      <div class="col-xs-12">

      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-md-offset-2">

    </div>
  </div>

</div> -->

<!-- <div class="flex-full-height">
    <div class="col-xs-12 col-md-6 bg light-tan-pink">
        <div class="block left">
            <h2 class="title-block p-md-t-2">Why How?</h2>
            <div class="testimonial-content p-md-t-1 p-md-b-3">
              <p>The most valuable part of the From Artisan to Entrepreneur program was learning right along side other business owners within my community. It’s a rare opportunity to be able to have such frank conversations and get such beneficial feedback from my peers, all while fortifying the relationships within my community that help my business grow. Taking the From Artisan to Entrepreneur class pulled me out of the hyper-adrenaline, day-to-day mode of running a business and shed light on problems I wasn’t addressing and needed to overcome. The supportive community within the class allowed me to feel confident and accountable in recognizing those problems and the program gave me the solutions to solve them.</p>
              <p class="byline">Victoria Hagman<br/><strong>Realty Collective</strong>&mdash;Brooklyn, NY</p>
            </div>
        </div>
      </div>
    <div class="col-xs-12 col-md-6 bg tan-pink">
      <div class="block right">
          <div class="testimonial-content p-md-y-6">
            <p>We’ve operated like a loosely organized club for so long; without systems, without rules, without clear direction. Holly has a clear gift for immediately pinpointing simple shifts to alleviate the chaos and hangups that so many of us experience in small creative businesses. It’s like magic. Thanks to her From Artisan to Entrepreneur class, Saipua now has a very clearly defined vision with specific goals that keep the whole team on that path. We have shifted our company culture from one of martyrdom and exhaustion to one of enthusiasm and joy.</p>
            <p class="byline">Sarah Ryhanen <br/><strong>Saipua</strong>&mdash;New York City</p>
          </div>
      </div>
    </div>
</div>

<div class="flex-full-height">
    <div class="col-xs-12 col-md-6  bg pink">
        <div class="block left">
            <div class="testimonial-content p-md-y-3">
              <p>I am an artist and musician that stumbled into the bar business. It is the love of what I do that makes me an artisan. Today, thanks to this class, I take better care of the systems that support my bar. Thank you, Holly, for making me understand that being poor doesn’t make me more authentic. It just makes me poor. And although money still is not my primary motivation, you helped me recognize that it is a necessary tool to keep my business healthy.  I am proud to think financially and to not just pretend the scary “business of business” doesn’t exist and hope for the best. On the days when sisyphean tasks pile up, you start to wonder where your freedom went. Now, because of this class, I have lots of obvious goals that pull me out of that day-to-day and keep me excited about the future.  </p>
              <p class="byline">Tone Johansen<br/><strong>Sunny's Bar</strong>&mdash;Brooklyn, NY</p>
            </div>
        </div>
      </div>
    <div class="col-xs-12 col-sm-6 sm-p-a-6 sm-m-b-0 xs-m-b-3 bg light-pink">
      <div class="block right">
          <div class="testimonial-content p-md-y-3">
            <p>We met with Holly Howard when our business was just a glimmer of an idea. She was our trusted guide through the entire process of developing our business plan, through to the early days of hiring and opening our bookshop. Her warmth, wisdom, expertise, vast connections in the small business community, as well as her faith in our mission, and encouragement, was invaluable to us as we shaped our glimmer into something concrete. We quite simply could not have opened Stories in the time frame in which we did it, without Holly's help.</p>
            <p class="byline">Maggie Pouncey + Matt Miller<br/><strong>Stories Bookshop + Storytelling Lab</strong>&mdash;Brooklyn, NY</p>
          </div>
      </div>
    </div>
</div> -->
