---
layout: base
---

<div class="row bg tan-pink p-md-y-6">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-7">
          <h2>About</h2>
          <p class="lead">Ask Holly How is a business consultancy founded on the principle that successful entrepreneurship resides at the intersection of self-evolution, business growth, and
the creative pursuit.
          </p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="img-responsive" src="/images/growth.gif"/>
      </div>
    </div>
  </div><!-- /container -->
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-7">
      <h2>What We Do</h2>
      <p class="lead">We work with entrepreneurs at the critical stage in their development when they realize that starting a business and growing a business are two separate skillsets. By uncovering their personal values and vision we clarify the path forward allowing them to create greater value for every part of their business, from daily customer experiences to long-term financial planning.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2>Bio</h2>
      <p>Since launching Ask Holly How in 2012, Holly has worked with over 100 businesses through her private consulting and business growth program.  She has a rich background as a professional ballet dancer, music therapist,  medical researcher, bassoonist, and a VP of Operations and Finance. Each of these pursuits has allowed her to shape her approach and philosophy to helping entrepreneurs grow their business without sacrificing their souls.
      </p>
      <div class="col-xs-12">
        <div id="ask-how-circle"></div>
        <a href="mailto;#" class="inline-link">Get in touch!</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <img src="/images/holly-bio.jpg" class="img-responsive"/>
    </div>
  </div>

</div><!-- /container -->

<div class="flex-full-height">
    <div class="col-xs-12 col-md-6 bg light-tan-pink">
        <div class="block left">
            <h2 class="title-block">Why How?</h2>
            <div class="testimonial-content">
              <p>The most valuable part of the From Artisan to Entrepreneur program was learning right along side other business owners within my community. It’s a rare opportunity to be able to have such frank conversations and get such beneficial feedback from my peers, all while fortifying the relationships within my community that help my business grow. Taking the From Artisan to Entrepreneur class pulled me out of the hyper-adrenaline, day-to-day mode of running a business and shed light on problems I wasn’t addressing and needed to overcome. The supportive community within the class allowed me to feel confident and accountable in recognizing those problems and the program gave me the solutions to solve them.</p>
              <p class="byline">Victoria Hagman<br/><strong>Realty Collective</strong>&mdash;Brooklyn, NY</p>
            </div>
        </div>
      </div>
    <div class="col-xs-12 col-md-6 bg tan-pink">
      <div class="block right">
          <div class="testimonial-content">
            <p>We’ve operated like a loosely organized club for so long; without systems, without rules, without clear direction. Holly has a clear gift for immediately pinpointing simple shifts to alleviate the chaos and hangups that so many of us experience in small creative businesses. It’s like magic. Thanks to her From Artisan to Entrepreneur class, Saipua now has a very clearly defined vision with specific goals that keep the whole team on that path. We have shifted our company culture from one of martyrdom and exhaustion to one of enthusiasm and joy.</p>
            <p class="byline">Sarah Ryhanen <br/><strong>Saipua</strong>&mdash;New York City</p>
          </div>
      </div>
    </div>
</div>

<div class="flex-full-height">
    <div class="col-xs-12 col-md-6  bg pink">
        <div class="block left">
            <div class="testimonial-content">
              <p>I am an artist and musician that stumbled into the bar business. It is the love of what I do that makes me an artisan. Today, thanks to this class, I take better care of the systems that support my bar. Thank you, Holly, for making me understand that being poor doesn’t make me more authentic. It just makes me poor. And although money still is not my primary motivation, you helped me recognize that it is a necessary tool to keep my business healthy.  I am proud to think financially and to not just pretend the scary “business of business” doesn’t exist and hope for the best. On the days when sisyphean tasks pile up, you start to wonder where your freedom went. Now, because of this class, I have lots of obvious goals that pull me out of that day-to-day and keep me excited about the future.  </p>
              <p class="byline">Tone Johansen<br/><strong>Sunny's Bar</strong>&mdash;Brooklyn, NY</p>
            </div>
        </div>
      </div>
    <div class="col-xs-12 col-sm-6 sm-p-a-6 sm-m-b-0 xs-m-b-3 bg light-pink">
      <div class="block right">
          <div class="testimonial-content">
            <p>We met with Holly Howard when our business was just a glimmer of an idea. She was our trusted guide through the entire process of developing our business plan, through to the early days of hiring and opening our bookshop. Her warmth, wisdom, expertise, vast connections in the small business community, as well as her faith in our mission, and encouragement, was invaluable to us as we shaped our glimmer into something concrete. We quite simply could not have opened Stories in the time frame in which we did it, without Holly's help.</p>
            <p class="byline">Maggie Pouncey + Matt Miller<br/><strong>Stories Bookshop + Storytelling Lab</strong>&mdash;Brooklyn, NY</p>
          </div>
      </div>
    </div>
</div>
