---
layout: base
---

<div class="row bg tan-pink">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-7">
          <h2>About</h2>
          <p class="lead">Ask Holly How is a business consultancy founded on the principle that successful entrepreneurship resides at the intersection of self-evolution, business growth, and
the creative pursuit.
          </p>
        </div>
        <div class="col-xs-12 col-md-5">
          <!--- Insert an SVG here?
          <img class="img-responsive" src="/images/graph-image.png"/>-->
      </div>
    </div> <!-- /container -->
  </div>

  <div class="row bg green">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 p-y">
          <h5>We offer consulting services<br/>
            in the areas of business growth<sup>1</sup>,<br/>
            infrastructure development<sup>2</sup>,<br/>
            culture change<sup>3</sup>, and<br/>
            corporate intrapreneurship<sup>4</sup>
          </h5>
          <a href="#"><button class="btn-md">Learn More</button></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container-fluid">
      <div class="bg pink col-sm-6">
        <h6>Programs</h6>
        <p>From Artisan to Entrepreneur<br/>is a 12-week business development program for creative entrepreneurs who are ready to grow their existing business.</p>
        <a href="#">Learn More</a>
      </div>
      <div class="bg light-blue col-sm-6">
        <h5>Resources</h5>
        <p> Get tips and techniques for self evolution and business growth or just get inspired while on your creative pursuit.</p>
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>

  <div class="row bg tan-pink">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 p-y">
          <h6>About</h6>
          <p>We work with entrepreneurs at the critical stage in their development when they realize that starting a business and growing a business are two separate skillsets. By uncovering their personal values and vision we clarify the path forward allowing them to create greater value for every part of their business, from daily customer experiences to long-term financial planning.
          <a href="#"><button class="btn-md">Learn More</button></a>
        </div>
      </div>
    </div>
  </div>
