---
layout: base
---

<div class="row bg orange p-xs-t-3 p-xs-y-6">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h5 class="program-title coming-soon serif bold">Coming Soon</h5>
          <h2 class="artisan-title">From Artisan to Entrepreneur®</h2>
        </div>
      </div>
      <div class="row m-xs-t-2">
        <div class="col-md-6">
          <p class="lead">Sign up for the Newsletter to be the first to know when the book is available and receive special offers prior to launch!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="book m-xs-t-2">
              {% include book-signup.html %}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row m-xs-t-3">
        <div class="card-wrapper col-md-8">
          <div class="card-stack">
            <p class="intro-lead sans"><strong>Book Overview</strong></p>
            <p class="lead">This book is a mix of thought leadership and instruction. It is the how-to guide for the emerging artisan economy and more. It will outline how today’s creative entrepreneurs can ensure a successful venture as the economy vacillates between recovery and recession, how they can create an honest, unique identity in an era of such rapid innovation and change, how they can stand out in a saturated marketplace when we now have more innovators and makers than ever before, how they can bring together<img class="book-overview-img alignright" src="/images/home-how-head.png"/> a team when so many workers are joining the gig economy, and how they can bring their vision to life and find confidence in their role as leaders of this new economic moment.</p>
          </div>
        </div>
      </div>
    </div>
</div> <!-- /row -->
