---
layout: base
---

<div class="row bg orange">
    <div class="container-fluid">
      <div id="top-header">
        <h1>Business Growth</h1>
        <h1>for <span id="for-creative"><img id="start-finish-home" src="/images/start-finish.gif" width="300" style=""/></span> Creative</h1>
        <h1><span id="entrepeneurs"></span>Entrepeneurs<img id="how-head-home" src="/images/how_head.gif" width="185" style=""/></h1>
      </div>
    </div> <!-- /container -->
  </div>

  <div class="row bg green">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 p-sm-y-6">
          <h1 class="sans">We offer consulting services<br/>
            in the areas of <span class="underline">business growth</span><sup>1</sup>,
            <span class="underline">infrastructure development</span><sup>2</sup>,
            <span class="underline">culture change</span><sup>3</sup>, and<br/>
            <span class="underline">corporate intrapreneurship</span><sup>4</sup>.
          </h1>
          <a href="#"><button class="btn-md serif">Learn More</button></a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-full-height">
      <div class="col-xs-12 col-md-6 p-sm-y-3 bg pink">
          <div class="block left lead">
            <h5>Programs</h5>
            <p><span class="serif"><strong>From Artisan to Entrepreneur</strong></span><br/>is a 12-week business development program for creative entrepreneurs who are ready to grow their existing business.</p>
            <a href="#"><strong>Learn More</strong></a>
          </div>
        </div>
      <div class="col-xs-12 col-md-6 p-sm-y-3 bg light-blue">
        <div class="block right lead">
          <h5>Resources</h5>
          <p> Get tips and techniques for self evolution and business growth or just get inspired while on your creative pursuit.</p>
          <a href="#"><strong>Learn More</strong></a>
        </div>
      </div>
  </div>


  <div class="row bg tan-pink">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 p-md-y-2">
          <h5>About</h5>
          <p class="lead">We work with entrepreneurs at the critical stage in their development when they realize that starting a business and growing a business are two separate skillsets. By uncovering their personal values and vision we clarify the path forward allowing them to create greater value for every part of their business, from daily customer experiences to long-term financial planning.
          <a href="#"><button class="btn-md lead">Learn More</button></a>
        </div>
      </div>
    </div>
  </div>
