---
layout: base
---

<div class="row bg orange visible-lg-block visible-md-block visible-sm-block">
  <div class="container-fluid top">
    <div id="top-header">
      <div class="top-header-text-container">
        <h1>Business Growth</h1>
        <h1>for<span id="for-creative"></span>Creative</h1>
        <h1><span id="entrepeneurs"></span>Entrepreneurs</h1>
        <img id="eye-home"  class="home-top-img" src="/images/home-blinking-eye.gif" style=""/>
        <img id="how-head-home" class="home-top-img" src="/images/home-how-head2.gif" style=""/>
        <img id="start-finish-home" class="home-top-img" src="/images/home-start-finish2.gif" style=""/>
        <img id="column-home" class="home-top-img" src="/images/home-column.gif" style=""/>
        <img id="arrow-home"  class="home-top-img" src="/images/home-growing-graph.gif" style=""/>
        <img id="growth-home"  class="home-top-img" src="/images/home-growth.gif" style=""/>
      </div>
    </div>
  </div> <!-- /container -->
</div>

<div class="row bg orange visible-xs-block">
  <div class="container-fluid top">
    <div id="top-header">
      <div class="top-header-text-container">
        <h1>Business<br/>Growth</h1>
        <h1>for Creative</h1>
        <h1>Entrepreneurs</h1>
        <img id="eye-home"  class="home-top-img" src="/images/home-blinking-eye.gif" style=""/>
        <img id="how-head-home" class="home-top-img" src="/images/home-how-head2.gif" style=""/>
        <img id="start-finish-home" class="home-top-img" src="/images/home-start-finish2.gif" style=""/>
        <img id="column-home" class="home-top-img" src="/images/home-column.gif" style=""/>
        <img id="arrow-home"  class="home-top-img" src="/images/home-growing-graph.gif" style=""/>
        <img id="growth-home"  class="home-top-img" src="/images/home-growth.gif" style=""/>
      </div>
    </div>
  </div> <!-- /container -->
</div>

<div class="row bg green">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 p-sm-y-6 p-xs-y-3">
        <h2 class="sans">We offer consulting services in the areas of:
        <span class="underline"><a href="/services#business-growth">Business Growth</a></span><sup>1</sup>
        <span class="underline"><a href="/services#infrastructure-development">Infrastructure Development</span></a><sup>2</sup>
        <span class="underline"><a href="/services#culture-change">Culture Change</span></a><sup>3</sup>
        <span class="underline"><a href="/services#corporate-intrapreneurship">Corporate Intrapraneurship &amp; Brand Acquisition</a></span><sup>4</sup></h2>
        <a href="/services"><button class="btn-md serif bold">Learn More</button></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row two-color-row">
    <div class="col-md-6 p-sm-y-6 p-xs-y-3 bg pink">
      <div class="m-sm-x-3 lead home-programs-div">
        <h5>Programs</h5>
        <p class="m-xs-b-1"><span class="serif"><strong>This program&reg;</strong></span><br/>is a 12-module business development program for creative entrepreneurs who are ready to grow their existing business.</p>
        <a href="/programs"><button class="btn-md serif bold">Learn More</button></a>
      </div>
    </div>
    <div class="col-md-6 p-sm-y-6 p-xs-y-3 bg tan-pink">
      <div class="m-sm-x-3 lead">
        <h5>About</h5>
        <p class="m-xs-b-1">Ask Holly How is a business consultancy founded on the principle that successful entrepreneurship resides at the intersection of self-evolution, business growth, and the creative pursuit.</p>
        <a href="/about"><button class="btn-md serif bold">Learn More</button></a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row bg tan-pink">
  <div class="container">
    <div class="row p-md-y-3">
      <div class="col-sm-8 p-md-y-2">
        <h5>About</h5>
        <p class="lead">
          We work with entrepreneurs at the critical stage in their development when they realize that starting a business and growing a business are two separate skillsets. By uncovering their personal values and vision we clarify the path forward allowing them to create greater value for every part of their business, from daily customer experiences to long-term financial planning.
        </p>
        <a href="/about" class="lead bold">More</a>
      </div>
      <div class="col-sm-3 col-sm-offset-1 p-sm-t-3">
        <img class="img-responsive" src="/images/home-about-graph.png" style="max-width: 285px;" />
      </div>
    </div>
  </div>
</div> -->
