---
layout: base
---

<div class="row bg pink p-xs-y-6">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>The School for Entrepreneurship 
              & Self Employment presents:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 p-xs-t-1 p-xs-b-2">
          <h2 class="artisan-title">From Artisan to Entrepreneur&reg;</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-8">
          <!-- <div class="row">
            <div class="col-xs-6">
              <img src="/images/start-finish.gif" class="img-responsive"/>
            </div>
            <div class="col-xs-6">
              <img src="/images/home-growth.gif" class="img-responsive"/>
            </div>
          </div> -->
          <p class="lead">The Artisan Economy - one defined by personal touch - is one of the fastest growing economies in post-industrial, urban America. <span class="serif bold">From Artisan to Entrepreneur&reg;</span> is specifically for companies where products are produced from a purpose and services are defined by connection.</p>
          <p class="lead p-xs-t-1">This program is not a formula, but a framework. One that allows entrepreneurs to feel calm amidst the chaos of running a growing company. This program addresses the philosophical and practical changes that creative entrepreneurs face in both business-to-business and business-to-consumer transactions. It teaches them the skills they need to grow their business successfully whether that means evolving beyond Etsy, opening a brick and mortar store, increasing manufacturing, scaling distribution, launching a far reaching e-commerce site, or expanding a tech start-up.</p>
          <p class="lead p-xs-t-1">This program provides the chance to stop being reactive and start being proactive about growth.</p>
        </div>
        <div class="col-lg-4 col-lg-offset-1 col-md-4 m-lg-t-0 m-md-t-3 m-sm-t-3 m-xs-t-3">
          <h6>Program Duration</h6>
          <p>10 Classes — Meeting over the course of 5 months</p>

          <h6 class="m-xs-t-2">Class Duration</h6>
          <p>3-4 hours</p>

          <h6 class="m-xs-t-2">Additions</h6>
          <p>Two 60-minute private consulting sessions are included to give individual attention and specific feedback on your company’s plan for growth.</p>

          <h6 class="up-next m-xs-t-2">Up Next!</h6>
            <p>Relaunching winter of 2021</p>
            @<br/>
          <p>Online<br/>
            Via Zoom</p>
            {{/* <p class="caption"> This program is currently being taught at Industry City Innovation Lab in partnership with SBIDC and JP Morgan through the initiative <a href="http://www.sbidc.org/services/business-services/plan-for-growth/" target="_blank">Plan for Growth</a></p> */}}
          <a href="mailto:hhoward@askhollyhow.com" target="_blank"><button class="btn-md serif bold m-xs-t-2">General Inquiries</button></a>
        </div>
    </div> <!-- /container -->
  </div>
</div>

<div class="row bg tan-pink p-xs-y-6">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h6>What to Expect</h6>
          <p>This program requires a serious level of commitment and organization to succeed. It is an intensive, inspiring, and very personal journey that will take you out of the day to day of your business and enable you to see the bigger picture.  You’ll dig deep to reflect on your own motivations and where you need to adjust in order to align your vision with your values. You’ll look at what’s not working within your business and you’ll identify new opportunities for future growth.  You’ll finish with new tools, boosted by the confidence to grow your business and embrace your role as a leader. You’ll reap the benefits of peer-to-peer learning and create lasting and motivating relationships that will drive you to succeed for the lifetime of your business.</p>
        </div>
        <div class="col-md-4 p-xs-y-3 p-sm-y-3 p-md-y-0 p-lg-y-0">
          <img src="/images/programs-triangle.png" class="img-responsive"/>
        </div>
        <div class="container">
          <div class="col-md-8 bg cream border-navy p-xs-a-1 p-md-a-2 m-sm-t-3">
            <h6>Class Schedule</h6>
            <ul class="schedule serif">
              <li>Week 1 — Review, Roadblocks, and Resetting for Growth</li>
              <li>Week 2 — Creating Culture from Your Core: Your Business Environment</li>
              <li>Week 3 — Accidental Leadership: Defining Your Role</li>
              <li>Week 4 — Modern Myth Making: Marketing Message</li>
              <li>Week 5 — Sketching Your Future: Visioning and Goals</li>
              <li>Week 6 — The Nuance of Numbers: Financial Plan</li>
              <li>Week 7 — Vital Relationships &amp; Making an Impact: Marketing Plan</li>
              <li>Week 8 — Systems and Serenity: Operations Plan</li>
              <li>Week 9 — Connection and Congruency: Personnel Plan</li>
              <li>Week 10 — Graduation!</li>
            </ul>
          </div>
        </div>
        <div class="col-md-8 m-xs-t-3">
          <img id="eye-programs" src="/images/home-blinking-eye.gif" class="img-responsive m-xs-b-1"/>
          <h6>You'll finish with</h6>
          <p>A clear vision, a defined company culture, a comprehensive roadmap for growth, and strategies to serve your company’s purpose. You’ll outline all of the systems you need to put your new plan into practice, and most importantly, you’ll evolve as a leader and find renewed meaning in your work.</p>
        </div>
    </div>
  </div><!-- /container -->
</div>

<div class="row bg orange-navy p-xs-y-6">
      <div class="container">
        <div class="row m-xs-b-2">
          <div class="col-xs-12">
            <h2 class="text-underline">Graduates</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <ul class="graduates col-1">
              {% for graduate in site.data.graduates.grad_list_col1 %}
                  {% if graduate.graduate_link == "" %}
                    <li>{{ graduate.graduate_name }}</li>
                  {% else %}
                    <li><a href="{{ graduate.graduate_link }}">{{ graduate.graduate_name }}</a></li>
                  {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-xs-12 col-md-4">
            <ul class="graduates col-2">
              {% for graduate in site.data.graduates.grad_list_col2 %}
                  {% if graduate.graduate_link == "" %}
                    <li>{{ graduate.graduate_name }}</li>
                  {% else %}
                    <li><a href="{{ graduate.graduate_link }}">{{ graduate.graduate_name }}</a></li>
                  {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-xs-12 col-md-4">
            <ul class="graduates col-3">
              {% for graduate in site.data.graduates.grad_list_col3 %}
                  {% if graduate.graduate_link == "" %}
                    <li>{{ graduate.graduate_name }}</li>
                  {% else %}
                    <li><a href="{{ graduate.graduate_link }}">{{ graduate.graduate_name }}</a></li>
                  {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
</div>
