---
layout: base
---

<div class="row bg pink p-xs-y-6">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Programs:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 p-xs-t-1 p-xs-b-2">
          <h2 class="artisan-title">Business Growth for Creative Entrepreneurs</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-8">
          <!-- <div class="row">
            <div class="col-xs-6">
              <img src="/images/start-finish.gif" class="img-responsive"/>
            </div>
            <div class="col-xs-6">
              <img src="/images/home-growth.gif" class="img-responsive"/>
           </div> --> 
          <p class="lead">Starting a business and growing one are two different things. Growing a business requires a totally different skill set than founding one. The tools and knowledge an entrepreneur may have used to launch their company are wholly different from what they’ll need to operate and scale it. Sometimes this unfortunate realization comes within the first year; other times a business can linger in the initial chaos for a decade or longer without progress. </p>
          <p class="lead p-xs-t-1">That's where this program comes in. This program is not a formula, but a framework. One that allows entrepreneurs to feel calm amidst the chaos of running a growing company. This program addresses the philosophical and practical changes that creative entrepreneurs face in both business-to-business and business-to-consumer transactions. It teaches them the skills they need to grow their business successfully whether that means expanding an e-commerce start-up, growing a life-style business, globalizing a service-based company, or moving into the brick and mortar space.</p>
          <p class="lead p-xs-t-1">This program provides the chance to stop being reactive and start being proactive about growth. Whether you're scaling for an exit or building towards a legacy, this program will teach you how to define or refine your culutre & operationalize it for growth. In an economy where culture speaks louder than brand and values create greater connections than algorithms, this is the program that puts you on the path to creative freedom, financial well-being, and community reciprocity.</p>
        </div>
        <div class="col-lg-4 col-lg-offset-1 col-md-4 m-lg-t-0 m-md-t-3 m-sm-t-3 m-xs-t-3"> 
            
          <h6>Program Details</h6>
          <p>Class runs January 18th - June 14th + 9mo and 1YR lectures. Request a course manual for details.</p>

          <h6 class="m-xs-t-2">Class Format</h6>
          <p>Collaborative learning with an intimate group of 30 businesses. A mix of lecture, workshop, case-study and practical application.</p>

          <h6 class="m-xs-t-2">But wait, there's more!</h6>
          <p>2 60-minute private consulting sessions, 10 books, over 100 pages of worksheets & tools, 3 guest lectures and more.</p>
            
          <h6 class="m-xs-t-2">Tuition</h6>
          <p>Regstration opens on Nov 1, 2021. The fee for this program is $5000 with a 10% early bird discount open from Nov 1 - Nov 12. Additional team members can join for $1000. Payment plans available.</p>

          <h6 class="up-next m-xs-t-2">To Register!</h6>
            <p>Starting Nov 1 Email Holly :) hhoward@askhollyhow.com</p>
          <p>Include: Monday or Tuesday cohort group<br/>
            Indicate: any additional team members that will join</p>
            <!-- <p class="caption"> This program is currently being taught at Industry City Innovation Lab in partnership with SBIDC and JP Morgan through the initiative <a href="http://www.sbidc.org/services/business-services/plan-for-growth/" target="_blank">Plan for Growth</a></p> -->
          <a href="mailto:hhoward@askhollyhow.com" target="_blank"><button class="btn-md serif bold m-xs-t-2">Let's Get Started</button></a>
        </div>
    </div> <!-- /container -->
  </div>
</div>

<div class="row bg tan-pink p-xs-y-6">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h6>What to Expect</h6>
          <p>This program requires a serious level of commitment and organization to succeed. It is an intensive, inspiring, and very personal journey that will take you out of the day to day of your business and enable you to see the bigger picture.  You’ll dig deep to reflect on your own motivations and where you need to adjust in order to align your vision with your values. You’ll look at what’s not working within your business and you’ll identify new opportunities for future growth.  You’ll finish with new tools, boosted by the confidence to grow your business and embrace your role as a leader. You’ll reap the benefits of peer-to-peer learning and create lasting and motivating relationships that will drive you to succeed for the lifetime of your business.</p>
        </div>
        <div class="col-md-4 p-xs-y-3 p-sm-y-3 p-md-y-0 p-lg-y-0">
          <img src="/images/programs-triangle.png" class="img-responsive"/>
        </div>
        <div class="container">
          <div class="col-md-8 bg cream border-navy p-xs-a-1 p-md-a-2 m-sm-t-3">
            <h6>Class Schedule</h6>
            <ul class="schedule serif">
              <li>Module 1 — Welcome & Reset</li>
              <li>Module 2 — Culture</li>
              <li>Module 3 — Leadership</li>
              <li>Module 4 — Visioning & Goal Setting</li>
              <li>Module 5 — Financial Planning</li>
              <li>Module 6 — Personnel Tools</li>
              <li>Module 7 — Culture-Building Initiatives</li>
              <li>Module 8 — Operating Systems</li>
              <li>Module 9 — Marketing Relationships</li>
              <li>Module 10 — Marketing Messaging</li>
              <li>Module 11 — Marketing Systems & Analytics</li>
              <li>Module 12 — Graduation</li>
            </ul>
          </div>
        </div>
        <div class="col-md-8 m-xs-t-3">
          <img id="eye-programs" src="/images/home-blinking-eye.gif" class="img-responsive m-xs-b-1"/>
          <h6>You'll finish with</h6>
          <p>A clear vision, a defined company culture, a comprehensive roadmap for growth, and strategies to serve your company’s purpose. You’ll outline all of the systems you need to put your new plan into practice, and most importantly, you’ll evolve as a leader and find renewed meaning in your work.</p>
        </div>
    </div>
  </div><!-- /container -->
</div>

<div class="row bg orange-navy p-xs-y-6">
      <div class="container">
        <div class="row m-xs-b-2">
          <div class="col-xs-12">
            <h2 class="text-underline">Graduates</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <ul class="graduates col-1">
              {% for graduate in site.data.graduates.grad_list_col1 %}
                  {% if graduate.graduate_link == "" %}
                    <li>{{ graduate.graduate_name }}</li>
                  {% else %}
                    <li><a href="{{ graduate.graduate_link }}">{{ graduate.graduate_name }}</a></li>
                  {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-xs-12 col-md-4">
            <ul class="graduates col-2">
              {% for graduate in site.data.graduates.grad_list_col2 %}
                  {% if graduate.graduate_link == "" %}
                    <li>{{ graduate.graduate_name }}</li>
                  {% else %}
                    <li><a href="{{ graduate.graduate_link }}">{{ graduate.graduate_name }}</a></li>
                  {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-xs-12 col-md-4">
            <ul class="graduates col-3">
              {% for graduate in site.data.graduates.grad_list_col3 %}
                  {% if graduate.graduate_link == "" %}
                    <li>{{ graduate.graduate_name }}</li>
                  {% else %}
                    <li><a href="{{ graduate.graduate_link }}">{{ graduate.graduate_name }}</a></li>
                  {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
</div>
