---
layout: base
---

<div class="row bg green p-sm-y-6">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10">
          <h2>{{ page.title }}</h2>
          <p class="intro-lead">
              {{ page.introduction }}
              <br/>
              <br/>
              Ask Holly How offers services in these four areas of expertise:
              <br/>
              <span class="serif bold">Business Growth<sup>1</sup></span><br/>
              <span class="serif bold">Infrastructure Development<sup>2</sup><br/>
              <span class="serif bold">Culture Change<sup>3</sup><br/>
              <span class="serif bold">Corporate Intrapreneurship<sup>4</sup><br/>
          </p>
        </div>
    </div> <!-- /container -->
  </div>
</div>

<div class="flex-full-height" id="business-growth">
    <div class="col-xs-12 col-md-6 sm-p-a-6 border-gold bg white-gold">
        <div class="block left p-sm-y-3">
            <h2>Business<br/>Growth<sup>1</sup></h2>
            <p>Starting a business and growing a business require two separate skill sets. One skill set involves having a passion for your product and bringing it to market. Entrepreneurs also need the other, very different, skill set to build your company vision and grow your business.</p>
            <p class="text-uppercase sans"><strong>Services</strong></p>
            <ul class="services-list">
              <li>Visioning and Goal Setting</li>
              <li>Financial Projections and Cashflow Analysis</li>
              <li>Marketing Strategies and Consumer Analysis</li>
              <li>Assisting in acquiring financing through institutions or investors</li>
            </ul>
        </div>
      </div>
    <div class="col-xs-12 col-md-6 sm-p-a-6 sm-m-b-0 xs-m-b-3 border-gold bg pink-cream">
      <div class="block right">
          <div class="service-image-container p-sm-y-3 m-sm-l-6">
            <img src="/images/services/ahh-maze.png" class="img-responsive" style="max-width: 265px;"/>
          </div>
      </div>
    </div>
</div>

<div class="flex-full-height" id="infrastructure-development">
    <div class="col-xs-12 col-md-6 sm-p-a-6 border-gold bg white-gold">
        <div class="block left p-sm-y-3">
            <h2>Infrastructure<br/>Development<sup>2</sup></h2>
            <p>A successful business—whether it’s just you or 100 employees—functions as a collection of well executed systems. Everyone benefits from guidelines and structure.  From ordering inventory, to hiring staff, to responding to customer complaints—each of these processes can be rationalized and documented. These systems allow entrepreneurs to step out of the day to day and save time, money, and energy in the future.</p>
            <p class="text-uppercase sans"><strong>Services</strong></p>
            <ul class="services-list">
              <li>Defining Your Leadership Philosophy &amp; Clarifying Your Role</li>
              <li>Creating Organizational Chart &amp; HR Tools</li>
              <li>Developing Standard Operating Procedures</li>
              <li>Assembling an Operations Manual</li>
            </ul>
        </div>
      </div>
    <div class="col-xs-12 col-md-6 sm-p-a-6 sm-m-b-0 xs-m-b-3 border-gold bg light-green">
      <div class="block right">
          <div class="service-image-container p-sm-y-3 m-sm-x-2">
            <img src="/images/services/column.gif" class="img-responsive" />
          </div>
      </div>
    </div>
</div>

<div class="flex-full-height" id="culture-change">
    <div class="col-xs-12 col-md-6 sm-p-a-6 border-gold bg white-gold">
        <div class="block left p-sm-y-3">
            <h2>Culture<br/>Change<sup>3</sup></h2>
            <p>Peter Drucker famously said that culture eats strategy for breakfast.  Entrepreneurs who’ve started their company without intentionally creating the right corporate culture will struggle to achieve even the most inspiring vision.  Stepping back to reassess and define what that culture can be is vital to succeeding.</p>
            <p class="text-uppercase sans"><strong>Services</strong></p>
            <ul class="services-list">
              <li>Identifying Your Purpose and Values</li>
              <li>Creating Corporate Culture Guidelines</li>
              <li>Assisting in Navigating Change</li>
              <li>Training for Team Transitions</li>
            </ul>
        </div>
      </div>
    <div class="col-xs-12 col-md-6 sm-p-a-6 sm-m-b-0 xs-m-b-3 border-gold bg cream">
      <div class="block right">
          <div class="service-image-container p-sm-y-3 m-sm-l-6">
            <img src="/images/services/ahh-culture-change.png" class="img-responsive" style="max-width:275px;" />
          </div>
      </div>
    </div>
</div>

<div class="flex-full-height" id="corporate-intrapreneurship">
    <div class="col-xs-12 col-md-6 sm-p-a-6 border-gold bg white-gold">
        <div class="block left p-sm-y-3">
            <h2>Corporate<br/>Intrapeneurship<sup>4</sup></h2>
            <p>As described by Inc Magazine, “Intraprenuership is a relatively recent concept that focuses on employees of a company that have many of the attributes of entrepreneurs.”  These services support larger corporations wanting their department heads to manage with more autonomy or incorporate innovation while staying connected to the larger corporate culture. They also ensure a seamless transition during the acquisition of smaller brands guaranteeing the original culture and personal touch remain authentic to the original source.</p>
            <p class="text-uppercase sans"><strong>Services</strong></p>
            <ul class="services-list">
              <li>Training in Entrepreneurial Management</li>
              <li>Analyzing and Assisting in Brand Acquisition and Development</li>
              <li>Planning and Visioning for Corporate Innovation</li>
            </ul>
        </div>
      </div>
    <div class="col-xs-12 col-md-6 sm-p-a-6 sm-m-b-0 xs-m-b-3 border-gold bg light-lemon">
      <div class="block right">
          <div class="service-image-container p-sm-y-3 m-sm-l-6">
            <img src="/images/services/ahh-stairs.png" class="img-responsive" style="max-width:210px;"/>
          </div>
      </div>
    </div>
</div>

<div class="row border-gold bg lemon p-sm-y-6">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-underline">Clients</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <ul class="clients col-1">
            <li>Pies ’N’ Thighs</li>
            <li>Red Hook Lobster Pound</li>
            <li>Saltie</li>
            <li>Hello Super Studios</li>
            <li>The Meat Hook</li>
            <li>Sans Bakery</li>
            <li>Maison May</li>
            <li>Lotta Jansdotter</li>
            <li>Phoenicia Diner</li>
            <li>Greenpointers</li>
            <li>do ARCH NYC</li>
            <li>Greenery NYC</li>
            <li>Naturally Delicious Catering</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-4">
          <ul class="clients col-2">
            <li>Fabler Studios</li>
            <li>Fort Defiance</li>
            <li>Peartree Flowers</li>
            <li>Realty Collective</li>
            <li>Soupier</li>
            <li>Stories BK</li>
            <li>Foxfodder Farm</li>
            <li>A Child Grows in Brooklyn</li>
            <li>Stratton Films</li>
            <li>Rebecca Atwood Designs</li>
            <li>Sunny’s Bar</li>
            <li>Peter Kruty Editions</li>
            <li>Lost &amp; Found Films</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-4">
          <ul class="clients col-2">
              <li>Calico Wallpaper</li>
              <li>Early Bird Foods</li>
              <li>Lion in the Sun</li>
              <li>Flowerkraut</li>
              <li>American Heirloom</li>
              <li>In.Sek Design</li>
              <li>Melt Massage</li>
              <li>by boe</li>
              <li>Home ReVision </li>
              <li>Home Studios</li>
              <li>Upstate Diary</li>
              <li>Nuchas</li>
              <li>Greecologies</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-5">
          <!--- Insert an SVG here? -->
          <a href="mailto:hhoward@askhollyhow.com" target="_blank"><img class="img-responsive m-sm-t-2" src="/images/ahh-askmore-button.png" style="max-width: 112.5px;"/></a>
      </div>
    </div> <!-- /container -->
  </div>
</div>
