---
layout: base
---

<div class="row bg tan-pink">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-7">
          <h2>Services</h2>
          <p class="lead">Ask Holly How is a business consultancy founded on the principle that successful entrepreneurship resides at the intersection of self-evolution, business growth, and
the creative pursuit.
          </p>
        </div>
        <div class="col-xs-12 col-md-5">
          <!--- Insert an SVG here? -->
          <img class="img-responsive" src="/images/graph-image.png"/>
      </div>
    </div> <!-- /container -->
  </div>
