---
layout: base
---

<div class="row bg green border-navy-bottom">
    <div class="container p-xs-y-6">
      <div class="row">
        <div class="col-sm-12">
          <h2>{{ page.title }}</h2>
        </div>
      </div>
      <div class="row m-xs-t-2">
        <div class="col-xs-12 col-md-10">
          <p class="lead">
              {{ page.introduction }}
              <br/>
              <br/>
              Ask Holly How offers services in these four areas of expertise:
              <br/>
              <p class="service-list serif bold"><span class="underline"><a href="#business-growth">Business Growth</a></span><sup>1</sup></p>
              <p class="service-list serif bold"><span class="underline"><a href="#infrastructure-development">Infrastructure Development</a></span><sup>2</sup></p>
              <p class="service-list serif bold"><span class="underline"><a href="#culture-change">Culture Change</a></span><sup>3</sup></p>
              <p class="service-list serif bold"><span class="underline"><a href="#corporate-intrapreneurship">Corporate Intrapreneurship &amp; Brand Acquisition</a></span><sup>4</sup></p>
          </p>
        </div>
    </div> <!-- /container -->
  </div>
</div>

<div class="row flex-row">
  <div class="flex-full-height">
    <span class="anchor" id="business-growth" data-target="business-growth"></span>
      <div class="col-xs-12 col-md-6 sm-p-a-6 services-border-navy-left bg cream">
          <div class="block left p-xs-y-3">
              <h2 class="services">Business<br/>Growth<sup>1</sup></h2>
              <p>Starting a business and growing a business require two separate skill sets. The first involves having a passion for your product and bringing it to market. Entrepreneurs also need the very different skill set to build the company vision and grow.</p>
              <p class="text-uppercase sans p-xs-t-2"><strong>Services</strong></p>
              <ul class="services-list">
                <li>Executive Advising</li>
                <li>Visioning and Goal Setting</li>
                <li>Financial Projections and Cashflow Analysis</li>
                <li>Marketing Strategies and Consumer Analysis</li>
                <li>Assisting in acquiring financing through institutions or investors</li>
                <li>Selling the company</li>
              </ul>
          </div>
      </div>
      <div class="col-xs-12 col-md-6 sm-p-a-6 sm-m-b-0 xs-m-b-3 services-border-navy-right bg cream">
        <div class="block right">
          <div class="full-width p-xs-t-3">
            <h6 class="serif bold figure-number">Fig. 1</h6>
          </div>
          <div class="service-image-container p-xs-b-3 m-sm-x-2">
            <img src="/images/services/AHH_illustration_maze.gif" class="img-responsive maze-img"/>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row flex-row">
  <div class="flex-full-height">
    <span class="anchor" id="infrastructure-development" data-target="infrastructure-development"></span>
      <div class="col-xs-12 col-md-6 sm-p-a-6 services-border-navy-left bg cream">
          <div class="block left p-xs-y-3">
              <h2 class="services">Infrastructure<br/>Development<sup>2</sup></h2>
              <p>A successful business—whether it’s just you or 100 employees—functions as a collection of well executed systems. Everyone benefits from guidelines and structure.  From ordering inventory, to hiring staff, to responding to customer complaints—each of these processes can be rationalized and documented. These systems allow entrepreneurs to step out of the day to day and save time, money, and energy in the future.</p>
              <p class="text-uppercase sans p-xs-t-2"><strong>Services</strong></p>
              <ul class="services-list">
                <li>Defining Leadership Philosophy</li>
                <li>Clarifying Leadership Role and Job Description</li>
                <li>Creating Organizational Chart</li>
                <li>Developing Human Resources Tools</li>
                <li>Constructing Standard Operating Procedures</li>
                <li>Assembling an Operations Manual</li>
              </ul>
          </div>
        </div>
      <div class="col-xs-12 col-md-6 sm-p-a-6 sm-m-b-0 xs-m-b-3 services-border-navy-right bg cream">
        <div class="block right">
          <div class="full-width p-xs-t-3">
            <h6 class="serif bold figure-number">Fig. 2</h6>
          </div>
          <div class="service-image-container m-sm-x-2">
            <img src="/images/services/AHH_column.gif" class="img-responsive" />
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row flex-row">
  <div class="flex-full-height">
    <span class="anchor" id="culture-change" data-target="culture-change"></span>
      <div class="col-xs-12 col-md-6 sm-p-a-6 services-border-navy-left bg cream">
          <div class="block left p-xs-y-3">
              <h2 class="services">Culture<br/>Change<sup>3</sup></h2>
              <p>Peter Drucker famously said that culture eats strategy for breakfast. Entrepreneurs who’ve started their company without intentionally creating the right corporate culture will struggle to achieve even the most inspiring vision. Stepping back to reassess and define what that culture can be is vital to succeeding.</p>
              <p class="text-uppercase sans p-xs-t-2"><strong>Services</strong></p>
              <ul class="services-list">
                <li>Identifying Your Purpose and Values</li>
                <li>Creating Corporate Culture Guidelines</li>
                <li>Supporting the Navigation of Culture Change</li>
                <li>Assisting Team Member Transitions</li>
              </ul>
          </div>
        </div>
      <div class="col-xs-12 col-md-6 sm-p-a-6 sm-m-b-0 xs-m-b-3 services-border-navy-right bg cream">
        <div class="block right">
          <div class="full-width p-xs-t-3">
            <h6 class="serif bold figure-number">Fig. 3</h6>
          </div>
          <div class="service-image-container m-sm-x-2">
            <img src="/images/services/culture_change.gif" class="img-responsive"/>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row flex-row">
  <div class="flex-full-height">
    <span class="anchor" id="corporate-intrapreneurship" data-target="corporate-intrapreneurship"></span>
      <div class="col-xs-12 col-md-6 sm-p-a-6 services-border-navy-left bg cream">
        <div class="block left p-xs-y-3">
          <h2 class="services">Corporate Intrepraneurship &amp; Brand Acquisition<sup>4</sup></h2>
          <p>As described by Inc Magazine, “Intraprenuership is a relatively recent concept that focuses on employees of a company that have many of the attributes of entrepreneurs.” These services support larger corporations wanting their department heads to manage with more autonomy or incorporate innovation while staying connected to the larger corporate culture. These services also ensure a seamless transition during the acquisition of smaller brands guaranteeing the original culture and personal touch remain authentic to the original source.</p>
          <p class="text-uppercase sans p-xs-t-2"><strong>Services</strong></p>
          <ul class="services-list">
            <li>Training in Entrepreneurial Management</li>
            <li>Planning and Visioning for Corporate Innovation</li>
            <li>Analyzing and Assisting in Brand Acquisition and Development</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 sm-p-a-6 sm-m-b-0 xs-m-b-3 services-border-navy-right bg cream">
        <div class="block right">
          <div class="full-width p-xs-t-3">
            <h6 class="serif bold figure-number">Fig. 4</h6>
          </div>
          <div class="service-image-container m-sm-x-2">
            <img src="/images/services/staircase.gif" class="img-responsive"/>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row border-navy-top bg lemon">
    <div class="container p-xs-y-6">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-underline">Clients</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <ul class="clients col-1">
            <li>Pies ’N’ Thighs</li>
            <li>Red Hook Lobster Pound</li>
            <li>Saltie</li>
            <li>Hello Super Studios</li>
            <li>The Meat Hook</li>
            <li>Sans Bakery</li>
            <li>Maison May</li>
            <li>Lotta Jansdotter</li>
            <li>Phoenicia Diner</li>
            <li>Greenpointers</li>
            <li>DO ARCH NYC</li>
            <li>Greenery NYC</li>
            <li>Naturally Delicious Catering</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-4">
          <ul class="clients col-2">
            <li>Fabler Studios</li>
            <li>Fort Defiance</li>
            <li>Peartree Flowers</li>
            <li>Realty Collective</li>
            <li>Saipua</li>
            <li>Stories BK</li>
            <li>Foxfodder Farm</li>
            <li>A Child Grows in Brooklyn</li>
            <li>Stratton Films</li>
            <li>Rebecca Atwood Designs</li>
            <li>Sunny’s Bar</li>
            <li>Peter Kruty Editions</li>
            <li>Lost &amp; Found Films</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-4">
          <ul class="clients col-2">
              <li>Calico Wallpaper</li>
              <li>Early Bird Foods</li>
              <li>Lion in the Sun</li>
              <li>Flowerkraut</li>
              <li>American Heirloom</li>
              <li>In.Sek Design</li>
              <li>Melt Massage</li>
              <li>by boe</li>
              <li>Home ReVision </li>
              <li>Home Studios</li>
              <li>Upstate Diary</li>
              <li>Nuchas</li>
              <li>Greecologies</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-5">
          <!--- Insert an SVG here? -->
          <div class="m-xs-t-2"><a href="mailto:hhoward@askhollyhow.com" class="inline-link no-underline"><img src="/images/ahh-askmore-button.png" class="img-responsive m-xs-r-1" id="ask-how-circle"/>Get in touch!</a></div>
      </div>
    </div> <!-- /container -->
  </div>
</div>
